[Unit]
Description=Coinevo Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/coinevo/build/release/bin/coinevod --rpc-bind-ip 127.0.0.1 --detach --restricted-rpc --prune-blockchain
Restart=always
User=coinevodaemon

[Install]
WantedBy=multi-user.target
